// #palette {
//   color: #221111; /* Spanish Shadow */
//   color: #772222; /* Sloppy */
//   color: #bb4433; /* Spanish Pink */
//   color: #ffbb99; /* Peacht Keane */
//   color: #dd6655; /* Coral */
//   color: #9f3621; /* Dark Orange */
//   color: #8e755c; /* Light Brown/Tan */
//   color: #ebf1b8; /* Ooze - light green */
//   color: #665511; /* DarkShi#$% */

 
//   color: #000000; /* black */
//   color: #aa2222; /* Aureus Aureus Aureum */
//   color: #bdc6bc; /* Full Moon */
//   font-family: creepster, fantasy;
//   font-family: butcherman, fantasy;
//   font-family: eater, fantasy;
//   font-family: nosifer, fantasy;
// }

$Aureus: #aa2222;

* {
  padding: 0;
  margin: 0;
  border: none;
}



#home_container {
  background: url(./assets/images/leather_1_@2X.png) repeat center fixed;
  height: 96vh;
  margin: 1%;
}

#overlay {
  background: linear-gradient(#18110a, #34210ecd);
  margin: -1%;
  height: 100vh;
}

#home_container h1 {
  margin: 1vh 0 0 5vw;
  color: #bdc6bc;
  text-shadow: 2px 2px 0 black, 3px 3px 0 $Aureus;
  font-family: nosifer, fantasy;
  letter-spacing: 2vmin;
  font-size: calc(40px + 2vmin);
}

#home_header h1 a {
  color: $Aureus;
  text-shadow: 2px 2px 0 black, 3px 3px 0 white;
  cursor: pointer;
  text-decoration: none;
}

#moon_image {
  height: 40vh;
  opacity: 0.8;
  position: absolute;
  right: 5%;
  top: 2%;
}

/* NOTE: DO NOT DELETE */
/* cause the moon to spin on landing page */
@media (prefers-reduced-motion: no-preference) {
  #moon_image {
    animation: App-logo-spin infinite 120s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wolf-image {
  height: 60vh;
  position: absolute;
  bottom: 1%;
  left: 13vw;
}

nav {
  // border: $Aureus solid 3px;
  position: absolute;
  bottom: 25vh;
  right: 5vw;

  li a {
    color: #bdc6bc;
    // color: #facfba;
    text-shadow: 2px 2px 0 black, 3px 3px 0 $Aureus;
    font-family: nosifer, fantasy;
    letter-spacing: 1vmin;
    font-size: calc(10px + 2vmin);
  }
  li a:hover {
    color: $Aureus;
    text-shadow: 2px 2px 0 black, 3px 3px 0 white;
  }
  
}


#copyright {
  // color: #bdc6bc;
  color: black;
  // text-shadow: 2px 2px 0 black, 3px 3px 0 $Aureus;
  text-shadow: 0 0 10px #bdc6bc;
  font-family: nosifer, fantasy;
  position: absolute;
  bottom: 0;
  right: 2%;
  font-size: .75em;
}
